<!-- views/partials/_header.ejs -->
    <h1 class="center"><a href="/" style="text-decoration: none">TinyURL</a></h1>
    
    <% if(locals.user) { %>
        <p>You are logged in as <%= user.email %> </p>
        <form method="POST" action="/logout">
          <button type="submit" class="btn btn-outline-primary">Logout</button>
        </form>
    <% } else { %>
      <a href="/register" class="btn btn-outline-primary center">Register</a>
      <a href="/login" class="btn btn-outline-primary center">Login</a>
    <% } %>
    <% if(locals.error) { %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong><%= error %></strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% } %>