<!-- views/partials/_header.ejs -->
    <h1 class="center"><a href="/" style="text-decoration: none">TinyURL</a></h1>
    
    <% if(locals.user) { %>
        <form class="logged-in" method="POST" action="/logout">
          <p>You are logged in as <%= user.email %> </p>
          <button type="submit" class="btn btn-outline-dark btn-sm">Logout</button>
        </form>
    <% } %>

    <% if(locals.error) { %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong><%= error %></strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% } %>