<!-- views/partials/_header.ejs -->
    <h1 class="center"><a href="/" style="text-decoration: none">TinyURL</a></h1>
    
    <% if(locals.user) { %>
        <form class="logged-in" method="POST" action="/logout">
          <p>You are logged in as <%= user.email %> </p>
          <button type="submit" class="btn btn-outline-dark btn-sm">Logout</button>
        </form>
    <% } else if (locals.login) { %>
        <p id="register" >If you do not have an account already, please use this link to <a href="/register"><%= login %></a></p>
      <!-- <a href="/register" class="btn btn-outline-primary center">Register</a>
      <a href="/login" class="btn btn-outline-primary center">Login</a> -->
    <% } else if (locals.register) { %>
        <p id="register" >If you have registered an account already, please use this link to <a href="/login"><%= register %></a></p>
      <!-- <a href="/register" class="btn btn-outline-primary center">Register</a>
      <a href="/login" class="btn btn-outline-primary center">Login</a> -->
    <% } %>
    <% if(locals.error) { %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong><%= error %></strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% } %>