<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- include head partial -->
    <% include ./partials/_head %>
  </head>
  <body>
    <header>
      <!-- include header partial -->
      <% include ./partials/_header %>
    </header>

    <h3>Create petit URL</h3>
    <form action="/urls" method="POST">
      <div class="form-group">
        <label for="longURL">Enter a URL:</label>
        <input class="form-control" type="text" name="longURL" placeholder="http://" required>
      </div>
      <button type="submit" class="btn btn-primary inline">Submit</button>
    </form>
    <!-- include footer -->
    <% include ./partials/_footer %>
  </body>
</html>