<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>TinyApp</title>
  </head>
  <body style="padding:50px;">

    <h1><a href="/" style="text-decoration: none">TinyURL</a></h1>
    <% if(typeof error !== "undefined" && error) { %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong><%= error %></strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    <% } %>

    <form action="/login" method="POST">
      <label for="email">Email:</label>
      <input type="text" name="email" >
      <label for="password">Password:</label>
      <input type="password" name="password" >

      <button type="submit" class="btn btn-dark">Login</button>
    </form>

<!-- include footer -->
<% include ./partials/_footer %>