<!-- include header -->
<% include ./partials/_header %>

<body style="font-size:20px; padding:50px;">
    <table style="width: 100%">
      <tr>
        <th>Original URL's</th>
        <th>Shortened forms</th>
      </tr>
      <% for(key in urls) { %>
        <tr>
            <td><%= urls[key] %></td>
            <td><a href="http://localhost:8080/u/<%= key %>" target="_blank">http://localhost:8080/u/<%= key %></a></td>
            <td>
              <form method="POST" action="/urls/<%= key %>/delete">
                <button type="submit" class="btn btn-danger">Delete</button>
              </form>
            </td>
        </tr>
      <% } %>
      </table>
      <a href="/urls/new">Try shortening your own URL by clicking here.</a>
</body>
</html>