<!-- include header -->
<% include ./partials/_header %>

    <h3>Register to create a TinyURL</h3>
    <form class="form-block" action="/register" method="POST">
      <div class="form-group mb-2">
        <!-- Email -->
        <label for="email">Email:</label>
        <input class="form-control" type="email" name="email" aria-describedby="emailHelp" placeholder="Email" style="width: 300px; margin: 1em">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
        <!-- Password -->
      <div class="form-group mb-2">
        <label for="password">Password:</label>
        <input class="form-control" type="password" name="password" placeholder="Password" style="width: 300px; margin: 1em">
        <button type="submit" class="btn btn-primary">Register</button>
      </div>
    </form>
  </body>
</html>