<!-- include header -->
<% include ./partials/_header %>

    <h2>Welcome to myTinyURL</h2>
    <a href="/urls/new">Try shortening your own URL by clicking here.</a>
    <p>New User? <a href="/register">Click here to register!</a></p>

<!-- include footer -->
<% include ./partials/_footer %>