<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- include head partial -->
    <% include ./partials/_head %>
  </head>
  <body>
    <!-- include header partial -->
    <% include ./partials/_header %>
    
    <h3>ShortURL: <%= shortURL %></h3>
    <form action="/urls/<%= shortURL %>" method="POST">
      <div class="form-group">
        <label for="longURL">Edit URL:</label>
        <input type="text" name="longURL" value="<%= longURL %>" class="form-control">
      </div>
      <button type="submit" class="btn btn-outline-warning"> Save</button>
    </form>
  
    <!-- include footer -->
    <% include ./partials/_footer %>
  </body>
</html>