<!-- include header -->
<% include ./partials/_header %>

<body style="font-size:20px; padding:50px;">
    <table style="width: 100%">
      <tr>
        <th>URL's</th>
        <th>Shortened forms</th>
      </tr>
      <% for(key in urls) { %>
        <tr>
            <td><%= urls[key] %></td>
            <td><%= key %></td>
        </tr>
      <% } %>
      </table>
      <a href="/urls/new">Try shortening your own URL on our homepage by clicking here.</a>
</body>
</html>