body {
  margin: 0 auto;
  text-align: center;
}
h1 a {
  text-decoration: none;
}
h3 {
  margin-top: 1em;
  margin-bottom: 1em;
}
header {
  margin-top: 5em;
}
.margin-top {
  margin-top: 1em;
}
.urls-show {
  margin-top: 3em;
}
.table {
  width: 90%;
  text-align: left;
  margin: 2em;
}
tbody tr:hover {
  background-color: hsl(0, 0%, 98%);
}
.inline {
  display: inline;
}
.logged-in {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.logged-in p {
  margin: 0;
}
.logged-in button {
  margin: 0;
  margin-left: 8px;
}
.form-group {
  margin: auto;
  margin-bottom: 8px;
  width: 300px;
  text-align: left;
}
.btn-outline-primary {
  margin-top: 1em;
}
.footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3.75em;           /* 60/16 */     
  line-height: 3.75em;
  background-color: hsl(0, 0%, 98%);
}
#register {
  width: 326px;
  margin: auto;
}