body {
  margin: 0 auto;
  padding: 5%;
  text-align: center;
}
h1 a {
  text-decoration: none;
}
h3 {
  margin-top: 1em;
  margin-bottom: 1em;
}
.margin-top {
  margin-top: 1em;
}
.table {
  width: 90%;
  text-align: left;
  margin: 2em;
}
tbody tr:hover {
  background-color: #f2fff6;
}
.inline {
  display: inline;
}
.logged-in {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.logged-in p {
  margin: 0;
}
.logged-in button {
  margin: 0;
  margin-left: 8px;
}
.form-group {
  margin: auto;
  margin-bottom: 8px;
  width: 300px;
  text-align: left;
}
.btn-outline-primary {
  margin-top: 1em;
}
#register {
  width: 326px;
  margin: auto;
}